<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="theme-color" content="#181818" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna - Adowkat DARIUSZ DZIEKAN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<script src="~/Scripts/parallax.js"></script>
        <script src="~/Scripts/parallax.min.js"></script>*@
    @*<script src="~/Scripts/jquery.fallings.js"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="sherifTxt" style="background-color: #1B1B1B; ">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #181818; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse ">
                @Html.Partial("_DesktopMenuPartial")
                @Html.Partial("_MobileMenuPartial")
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div class="center" style=" float:right;">
            <div id="social-test" style="background-color:#1B1B1B">
                <ul class="social" style="padding-top: 12px; padding-right: 12px;">
                    <li id="facebookLink"><i class="fa fa-facebook" aria-hidden="true" href="https://www.facebook.com/profile.php?id=100013967525286"></i></li>
                    <li>
                        <a class="fa fa-envelope" aria-hidden="true" href="~/Home/Contact">

                        </a>
                    </li>
                    @*<li><i class="fa fa-skype" aria-hidden="true"></i></li>*@
                </ul>
            </div>
        </div>

        <footer style=" color: #414141;">
            <p>&copy; @DateTime.Now.Year — Kancelaria Prawna - Dariusz Dziekan - Designed and created by <a href="mailTo:marcin_dziekan@wp.pl">Marcin Dziekan</a></p>
        </footer>
    </div>
    <div class="modal fade text-center" id="mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div style="background-color:#333333" class="modal-body">
                    <h5 style="color:#923233; font-weight:bold;">WYPEŁNIJ WSZYSTKIE POLA !</h5>
                    <h5 id="addedTxt"></h5>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(function () {
    $("#facebookLink").on("click", function () {
        $.ajax({
            dataType: "JSON",
            type: "POST",
            url: '@Url.Action("FaceCounter","Home")',
            success: function (data) {
                if (data === "OK") {
                    window.location = 'https://www.facebook.com/profile.php?id=100013967525286';
                } else {
                    window.location = '@Url.Action("Error", "Home")';
                }
            },
            error: function () {
                    window.location = '@Url.Action("Error", "Home")';
            }
        });
    });
});
</script>